<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Home</h1>
<!--Checking for user is logged in or not -->
{% if user.is_authenticated %}
<h1>Hello, {{user.first_name}}</h1><br>

<!--Printing data from FundCollector class-->
<h2>Fund Collector</h2>
{% for fcs in FC %}
Name : {{fcs.name}}<br>
Reason : {{fcs.reason}}<br>
Amount : {{fcs.amount}}<br>
<hr>
{% endfor %}

<!--                               -->

<br>
<a href="registration/logout">Logout</a>
{% else %}
<a href="registration/register">Sign up</a><br>
<a href="registration/login">Login</a>
{% endif %}
</body>
</html>